<html th:with="currentPage='index'" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Songs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form method="POST" style="display: inline-block;"
      th:action="@{/songs}"
      th:object="${search}">
    <div class="input-group">
        <h2>Search songs by:</h2>
        <label>Lyrics</label><br>
        <input class="form-control" placeholder="Search by lyrics..." th:field="*{lyrics}"
               type="text"/><br>
        <label>or Artist</label><br>
        <input class="form-control" placeholder="Search by artist..." th:field="*{artistName}"
               type="text"/><br>
        <label>or Song</label><br>
        <input class="form-control" placeholder="Search by song name..." th:field="*{songName}"
               type="text"/><br>
        <button class="btn" type="submit"><i class="material-icons">search</i>
        </button>
    </div>
</form>
<p><a th:href="@{/add-song}">Add new song</a></p>
</br>
<div th:switch="${songs}">
    <h2 th:case="null">No songs yet!</h2>
    <div th:case="*">
        <h2>Songs</h2>
        <table>
            <thead>
            <tr>
                <th>Artist name</th>
                <th>Name of the song</th>
                <th>Lyrics</th>
                <th>Comments</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="song : ${songs}">
                <td th:text="${song.artistName}"></td>
                <td th:text="${song.songName}"></td>
                <td th:text="${song.lyrics}"></td>
                <td th:text="${song.comments}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>
